1-consumer/obj/consumer.csproj.nuget.dgspec.json
1-consumer/obj/consumer.csproj.nuget.g.props
1-consumer/obj/consumer.csproj.nuget.g.targets
1-consumer/obj/project.assets.json
1-consumer/obj/project.nuget.cache
1-consumer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
1-consumer/obj/Debug/net6.0/apphost.exe
1-consumer/obj/Debug/net6.0/consumer.AssemblyInfo.cs
1-consumer/obj/Debug/net6.0/consumer.AssemblyInfoInputs.cache
1-consumer/obj/Debug/net6.0/consumer.assets.cache
1-consumer/obj/Debug/net6.0/consumer.csproj.AssemblyReference.cache
1-consumer/obj/Debug/net6.0/consumer.csproj.CopyComplete
1-consumer/obj/Debug/net6.0/consumer.csproj.CoreCompileInputs.cache
1-consumer/obj/Debug/net6.0/consumer.csproj.FileListAbsolute.txt
1-consumer/obj/Debug/net6.0/consumer.dll
1-consumer/obj/Debug/net6.0/consumer.GeneratedMSBuildEditorConfig.editorconfig
1-consumer/obj/Debug/net6.0/consumer.genruntimeconfig.cache
1-consumer/obj/Debug/net6.0/consumer.GlobalUsings.g.cs
1-consumer/obj/Debug/net6.0/consumer.pdb
1-consumer/obj/Debug/net6.0/ref/consumer.dll
1-consumer/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
1-consumer/obj/Release/net6.0/consumer.AssemblyInfo.cs
1-consumer/obj/Release/net6.0/consumer.AssemblyInfoInputs.cache
1-consumer/obj/Release/net6.0/consumer.assets.cache
1-consumer/obj/Release/net6.0/consumer.GeneratedMSBuildEditorConfig.editorconfig
1-consumer/obj/Release/net6.0/consumer.GlobalUsings.g.cs
1-consumer/bin/
2-producer/obj/
2-producer/bin/
